- title = day_name.titleize

%ul.breadcrumbs{ class: "#{day_name}" }
  %li
    %a{ href: '/conference' } Overview
  %li.write
    = link_to 'Write Day', '/conference/write'
  %li.speak
    = link_to 'Speak Day', '/conference/speak'
  %li.code
    = link_to 'Code Day', '/conference/code'

%h1
  %i{ class: "#{day_name}-icon" }
  = title
  to change the world!
  %i{ class: "#{day_name}-icon" }

%h2
  Day #{day_info.num} &mdash; #{day_info.weekday}, #{day_info.date}

%p
  %strong= "#{title} Day"
  = day_info.elevator
%p
  = day_info.summary

.day_summaries
  %ul.days
    = partial 'conference/day_list_item', locals: { header: "Learn", icon_class: "fa fa-book", actions: day_info.learn }
    = partial 'conference/day_list_item', locals: { header: "Do", icon_class: "fa fa-list-ul", actions: day_info.do }

.themes
  %h2
    = day_info.themes.join("<i class='fa fa-star-o'></i>")

= partial 'conference/each_day'
