- title = day_name.titleize

%ul.breadcrumbs{ class: "#{day_name}" }
  %li
    %a{ href: '/conference' } Overview
  %li.write
    = link_to 'Write Day', '/conference/write'
  %li.speak
    = link_to 'Speak Day', '/conference/speak'
  %li.code
    = link_to 'Code Day', '/conference/code'

%h1
  %i{ class: "#{day_name}-icon" }
  = title
  to change the world!
  %i{ class: "#{day_name}-icon" }

%h2
  Day #{day_info.num} &mdash; #{day_info.weekday.titleize}, #{day_info.date}

%p
  %strong
    %em= "#{title} Day"
    = day_info.elevator
  = day_info.summary

%p
  - day_info.milestones.each do |m|
    %strong= m.header
    = m.description
    %br/

.day_summaries
  %ul.days
    = partial 'conference/day_list_item', locals: { header: "Learn", icon_class: "fa fa-book", actions: day_info.learn } do
      %li= partial :arrow_button, locals: { link: "/conference/schedule##{day_name}", text: "Schedule", classes: %w(inverted notice skinny) }

    = partial 'conference/day_list_item', locals: { header: "Do", icon_class: "fa fa-list-ul", actions: day_info.do } do
      %li= partial :arrow_button, locals: { link: "#speakers", text: "Speakers", classes: %w(inverted notice skinny) }

.themes
  %h2
    = day_info.themes.join("<i class='fa fa-star-o'></i>")

= partial 'conference/each_day'

.credits
  %a{ name: "speakers" }
  %h4
    = title 
    to Change the World Day will feature:

  = partial 'people_list', locals: { filter: day_name, sort_include_type: true }

  %p= partial :arrow_button, locals: { link: "/conference/speakers", text: "All Speakers", classes: %w(inverted notice`) }
