---
title: Write/Speak/Code International Conference
alias : about.html
layout: conference_layout
page_class: 'conference'
---


%h3
  Empowering women developers to become thought leaders, conference speakers,
  and open source contributors.

%h4
  %i.fa.fa-calendar-o
  Three intense days of workshops, seminars, and talks
  %i.fa.fa-calendar-o
%h4
  %i.fa.fa-list-ol
  Build a personal blueprint and list of concrete next steps
  %i.fa.fa-list-ol
%h4
  %i.fa.fa-rocket
  Take your career to the next level
  %i.fa.fa-rocket

.day_summaries
  %ul.days
    - i = 0
    - data.days.days.each do |name, info|
      - i = i+1
      = partial 'conference/day_list_item', locals: { header: "Day #{i}", icon_class: "#{name}-icon", actions: info.actions } do
        %li.learn_more
          = partial :arrow_button, 
            locals: { link: "/conference/#{name}", text: "#{name.titleize} Day", classes: %w(inverted notice skinny) }

  %h2.change-world
    %i.fa.fa-child
    %span Day 4 &amp; beyond:
    Change the World!
    %i.fa.fa-child

= partial 'conference/each_day'

= partial :arrow_button_list, locals: { links: conference_button_links, classes: ['inverted', 'skinny'] }
