---
title: Schedule for Write/Speak/Code International Conference
alias: schedule.html
page_class: 'conference schedule'
layout: conference_layout
sub_page: true
---

%ul.day_schedule.breadcrumbs
  - [:write, :speak, :code].each do |day|
    - weekday = data.schedule.days[day]
    - txt = "#{weekday.titleize}, #{data.days.days[day].date} &mdash; #{day.to_s.titleize} Day"
    %li
      = link_to txt, "##{day}"

.schedules
  - [:write, :speak, :code].each do |day|
    %a{ id: day }

    %header
      - weekday = data.schedule.days[day]
      %h2= "#{weekday.titleize}, #{data.days.days[day].date}"

      %h3
        = day.to_s.titleize
        to Change the World!

      %p
        Facilitated by #{day_facilitators_links(day).to_sentence}

      = partial :arrow_button,
        locals: { link: "/conference/#{day}", text: "More", classes: %w(inverted skinny) }

    %ul.events
      - schedule_for_weekday(weekday).each do |item|
        %li.event{ class: "#{item.actions.try(:join, ' ')}" }
          %a{ id: item.talk_id }
          .details
            %h4.talk_name
              = item.talk_name
            =  talk_speakers_tag(item, day)
            - if item.talk_description
              %p.talk_description= item.talk_description

