---
title: Write/Speak/Code Chicago
alias : ["workshop-chi.html" ]
page_class: 'events workshops'
---

%h1 W/S/C Chicago Events

%h2 Getting Started in Open Source w/ Python
%h4 In collaboration with Chicago PyLadies
%h5
  %strong &lt;
  10:00am &mdash; 4:00pm &nbsp;
  %strong /
  &nbsp; July 25, 2015 &nbsp;
  %strong /
  &nbsp;
  %i.fa.fa-map-marker
  = link_to 'Enova', 'https://www.google.com/maps?f=q&hl=en&q=175+W+Jackson,+5th+Floor,+Chicago,+IL,+us'
  %strong &gt;

%p
  %span.callout-primary
    =link_to 'Click here to register!', 'https://docs.google.com/forms/d/10S8ew0JBpKwIDUOU1GB_JtMvb3xVmWKV5GHDLyXH-l8/viewform?usp=send_form'

%p Ready to contribute to Open Source!? From git to licensing, you'll learn all about open source logistics and culture.

%p
  Learn where to find projects and how to determine which projects are best for you. Get the low-down on how best to contribute and engage with open source maintainers.

%p
  We will have projects and Python mentors for you to work on and support you as you make your first open source contribution. Publish and contribute to open source by the end of the day!

%p
  <b>Morning:</b> A light breakfast will be provided and an Intro to Open Source talk by Write/Speak/Code.

%p
  <b>Lunch:</b> Complimentary lunch!

%p
  <b>Afternoon:</b> Code on Python projects. Mentors will be available to answer questions. Example projects targeted: Django, Flask, Census Reporter, Tarbell, Chicago Python User Group website, PyLadies website and more!

%p
  %small
    %em This event is for those with some experience in Python and git.

%hr

%p
  %em
    Childcare, CART services, and ASL interpreters will be made available as
    needed for the duration of the event.
    %small Sign up during registration

%p
  %i.fa.fa-paper-plane
  Subscribe to Write Speak Code's
  = link_to 'mailing list', 'http://eepurl.com/baHs5X'
  and check
  %em Chicago
  to receive all updates on this event and future events.

%br

%div.sponsorship
  %h3 
    Thanks to our sponsors
  %br
  %div.braintree
    %h5 Silver Sponsor
    %a{href: 'https://www.braintreepayments.com/'}
      = image_tag '../images/sponsors/logo_braintree.svg'

  %div.enova
    %h5 Event Host
    %a{href: 'https://www.enova.com/'}
      = image_tag '../images/sponsors/logo_enova.svg'


  %div.thoughtbot
    %h5 Silver Sponsor
    %a{href: 'https://thoughtbot.com'}
      = image_tag '../images/sponsors/logo_thoughtbot_horizontal.svg'

%br

%div
  %span.callout-primary
    Sponsor this event! 
  Interested in getting in front of motivated, community-focused technologists of diverse backgrounds? Just want to support diversity in tech and open source? #{link_to 'Learn more here.', 'https://guestlistapp.com/events/336243'}








