= wrap_layout :base_layout do
  .conference_layout{ class: "#{'sub_page' if current_page.data.sub_page}" }
    %section.hero
      .hero-inner
        .hero-copy
          %h1
            2015 International Conference for
            %br.header-break/
            Women Software Developers
            %a.small{ href: '#developer-definition' }*

          %h2
            March 19, 20, &amp; 21, 2015
            %i.fa.fa-star-o
            Pace University, New York City

          %p
            %a.button.success{ href: '/conference/scholarships' } Scholarships
            %a.button.primary{ href: 'https://guestlistapp.com/events/306111' }
              Register NOW!
            %a.button.notice{ href: '/sponsor' } Sponsor

          %p
            Check out our
            = succeed '.' do
              = link_to "fantastic sponsors", "/conference/sponsors"

          %h4.childcare-callout
            %a{ href: '/conference/childcare' }
              Childcare Available!

    #content
      = yield


      .developer-definition
        %a{ name: 'developer-definition' }
        %small
          We define "software developer" as anyone who has written a line of code 
          (HTML, CSS, JavaScript, Ruby, Python, Java, whatever) and can explain 
          what it does.  Designers, E-book publishers, and beginners as well as 
          engineers with 20 years experience have enjoyed our workshops and been 
          inspired by each other.

      %p
        We wouldn't be here without the generous support of
        = succeed '.' do
          = link_to "our sponsors", "/conference/sponsors"
