<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ name: "HandheldFriendly" , content: "True" }/
    %meta{ name: "MobileOptimized" , content: "320" }/
    %meta{ name: "viewport" , content: "width=device-width, initial-scale=1.0" }/

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Write/Speak/Code"

    = stylesheet_link_tag "normalize", "application"
    = javascript_include_tag "all"

    = javascript_include_tag "//use.typekit.net/olz5yha.js"

    %script
      try{Typekit.load();}catch(e){}

  %body{class: page_classes}
    .container
      %header.navigation{ role: "banner" }
        %h1.logo><
          %a{ href: '/' }><
            %span>< &lt;
            write
            %span>< /
            speak
            %span>< /
            code
            %span>< &gt;
        .navigation-wrapper
          %a#js-mobile-menu.navigation-menu-button{ href: "javascript:void(0)" }
            MENU

          %nav{ role: "navigation" }
            %ul#js-navigation-menu.navigation-menu.show
              %li.nav-link
                %a{ href:"conference.html" } Conference
              %li.nav-link
                %a{ href:"javascript:void(0)" } Register
              %li.nav-link
                %a{ href:"#" } Speakers
              %li.nav-link.more
                %a{ href:"javascript:void(0)" } More

                %ul.submenu
                  %li
                    %a{ href:"sponsors.html" } Sponsor
                  %li
                    %a{ href:"blog"} Blog
                  %li.more
                    %a{ href:"#" } Contact Us

          %div.navigation-tools
            %div.search-bar
              %form{ role:"search" }
                %input{ type:"search", placeholder:"Enter Search" }
                %button{ type:"submit" }
                  %img{ src:"https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png", alt: "Search Icon" }
            %a.sign-up{ href:"javascript:void(0)" } Sign Up

      %section#main
        = yield

      %footer.footer{ role: "contentinfo" }
        .footer-logo

        %ul
          %li
            = link_to "About", "#"
          %li
            = link_to "Organizers", "#"

        .footer-secondary-links
          %ul
            %li
              = link_to "Code of Conduct", "#"
            %li Logo design by McKenna Lowry and Maryanne Ko
            %li
              = "&copy; Rebel Bee Creative 2013-#{DateTime.now.year}".html_safe

          %ul.footer-social
            %li
              %a{ href: 'http://www.twitter.com/writespeakcode' }
                %span.fa.fa-twitter
            %li
              %a{ href: 'http://www.github.com/writespeakcode' }
                %span.fa.fa-github
            %li
              %a{ href: 'mailto:info@writespeakcode.com' }
                %span.fa.fa-envelope
