---
title: Scholarships to Write/Speak/Code International Conference
alias : github-intl-scholarship.html
layout: conference_layout
page_class: 'conference scholarships'
sub_page: true
---

%h1 Scholarships to Write/Speak/Code

%ul.scholarship-list.breadcrumbs
  %li= link_to 'Documentarian', '#documentarian'
  %li= link_to 'Women of Color', '#woc'
  %li= link_to 'LBTQA', '#lbtqa'
  %li= link_to 'Mothers & Caregivers', '#mothers'
  %li= link_to 'International', '#github'

%section.scholarship
  %a{ name: 'documentarian' }
  %h2 Documentarian Scholarship

  %h4
    Are you a natural observer? Do you already write regularly? Do you film or
    photograph?

  %p
    We are looking for at least one woman to attend the conference and write 
    about her experience for the world to learn from.  This is similar to what
    = succeed '.' do
      = link_to "Alli did in 2013", "/blog/tags/2013.html"
    We are open to woman 
    who document in other ways as well &mdash; film, photography, podcasts, etc.

  %h4 Are you up for the challenge?

  %p
    You do not need a formal background in writing/photographing/documenting.  
    You just need excitement, enthusiasm, and some experience working with the
    medium (writing, film, photograph, podcasting) you choose to use.

  %p
    To apply to this scholarship, you will need to 
    %strong write, film, photograph, or record 
    an explanation of why you want to attend
    = link_to "Write/Speak/Code", "/conference"
    as well as fill out the application form.

  %p
    We ask that you create at
    least 
    %strong six posts 
    for the
    = link_to "Write/Speak/Code blog", "/blog"
    in return for the scholarship.

  %p
    This scholarship covers the cost of a 3-day 
    %strong ticket only
    and is available to any
    = link_to 'software developer', '#developer-definition'
    who identifies as a woman.

  %p
    %em
      We will consider writing (or format) quality as well as 
      potential for community impact when choosing recipients.

  = partial :arrow_button, 
    locals: { link: 'https://docs.google.com/forms/d/1F-htHXoph3yzHR3TsRJ_H2pKCnCQ2nI1iA8o0cojyL8/viewform', text: 'Apply now', classes: %w(primary) }

  %h5 Deadline: March 5, 2015
  %h5 Notification: March 10, 2015

%section.scholarship
  %a{ name: 'woc' }
  %h2 Women of Color Scholarship

  %h4 Ladies of color &mdash; are you ready to represent?

  %p
    We ask that you write at
    least one post for the
    = link_to "Write/Speak/Code blog", "/blog"
    in return for the scholarship.

  %p
    This scholarship covers the cost of a 3-day 
    %strong ticket only
    and is available to any
    = link_to 'software developer', '#developer-definition'
    who identifies as a woman of color.  

  %p
    %em
      We mainly consider potential for community impact
      when choosing recipients.

  = partial :arrow_button, 
    locals: { link: 'https://docs.google.com/forms/d/1F-htHXoph3yzHR3TsRJ_H2pKCnCQ2nI1iA8o0cojyL8/viewform', text: 'Apply now', classes: %w(primary) }

  %h5 Deadline: March 5, 2015
  %h5 Notification: March 10, 2015

%section.scholarship
  %a{ name: 'lbtqa' }
  %h2 LBTQA Scholarship

  %h4 Lesbian, bisexual, transgender, queer, &amp; asexual women who code &mdash; are you ready to represent?

  %p
    We ask that you write at
    least one post for the
    = link_to "Write/Speak/Code blog", "/blog"
    in return for the scholarship.

  %p
    This scholarship covers the cost of a 3-day 
    %strong ticket only
    and is available to any
    = link_to 'software developer', '#developer-definition'
    who identifies as a woman and as LBTQA.

  %p
    %em
      We mainly consider potential for community impact
      when choosing recipients.

  = partial :arrow_button, 
    locals: { link: 'https://docs.google.com/forms/d/1F-htHXoph3yzHR3TsRJ_H2pKCnCQ2nI1iA8o0cojyL8/viewform', text: 'Apply now', classes: %w(primary) }

  %h5 Deadline: March 5, 2015
  %h5 Notification: March 10, 2015


%section.scholarship
  %a{ name: 'mothers' }
  %h2 Mothers &amp; Caregivers Scholarship

  %h4 Moms &amp; caregivers &mdash; are you ready to represent?

  %p
    We ask that you write at
    least one post for the
    = link_to "Write/Speak/Code blog", "/blog"
    in return for the scholarship.

  %p
    This scholarship covers the cost of a 3-day 
    %strong ticket only
    and is available to any
    = link_to 'software developer', '#developer-definition'
    who is a mother or caregiver.

  %p
    %em
      We mainly consider potential for community impact
      when choosing recipients.

  = partial :arrow_button, 
    locals: { link: 'https://docs.google.com/forms/d/13IryhejgYQbDY3qJsfUIfI2LNRH5gnfLBupOMrr4QMU/viewform', text: 'Apply now', classes: %w(primary) }

  %h5 Deadline: March 8, 2015
  %h5 Notification: March 10, 2015

.closed
  %section.scholarship
    %a{ name: 'github' }
    %h3 Github International Sponsorship

    %p
      %strong
        Congratulations to
        = link_to 'Axelle', 'https://twitter.com/LarryMeys'
        from Douala, Cameroon!!
      %br/
      This scholarship is now closed.
