---
title: "NYC loved #OwnUrExpertise!"
date: 2014-10-06 01:30 CST
social: true
author: Rebecca Miller-Webster
tags: conference
---

%h1 NYC loved #OwnUrExpertise!

%h3
  Hear what attendees tweeted about during the 2014
  %br
  &lt; Own Your Expertise / Workshop &gt;


%h4
  by
  = link_to 'Rebecca Miller-Webster', 'http://rebeccamiller-webster.com/'

.hero-unit.tweets_blog

  %h2 So many amazing women developers in one room!

  - [7, 9, 18, 24, 32].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"

  %h2 Imposter syndrome workshop!

  - [25, 29, 27, 2].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"

  %h2 Power poses!!

  - [10, 3].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"

  %h2 Owning our expertise!

  - [1, 6, 22, 23, 26, 28, 12, 21].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"

  %h2 Jump starting thought leaders, conference speakers, &amp; open source contributors!

  - [0, 4, 17, 19].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"

  %h2 The overall experience

  - [13, 15, 20, 16, 31].each do |i|
    = image_tag "/images/expertise-nyc/tweets/nyc-expertise-#{i}.png"