---
title: "Volunteer and Attend for Free!"
date: 2016-05-01
social: true
author: Jeca Armstrong
tags: conference, 2016, volunteer
excerpt: Volunteering is a great opportunity to not only attend the conference at a more affordable price ($0), but to connect with the community, learn new things, and/or get practice communicating - important for landing a first dev job.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }

.tweets_blog
  %p
    A year ago March, I volunteered/attended the 2015
    = link_to "Write/Speak/Code conference", "http://2016.writespeakcode.com"
    in New York City.

  %p
    Two days after the conference ended, I had a phone interview with my now-CEO.

  %h3
    I was able to communicate confidently and candidly about who I am, and
    %strong I landed my first dev job.
    %br/
    %br/

  %div{:style => "display: table; margin-left: auto; margin-right: auto"}
    %blockquote.twitter-tweet{"data-cards" => "hidden", "data-lang" => "en"}
      %p{:dir => "ltr", :lang => "en"}>
        1 year ago I flew to New York for
        %a{:href => "https://twitter.com/WriteSpeakCode"} @WriteSpeakCode
        which quite literally changed my life! Wish I could go this year!
        %a{:href => "https://t.co/7hAxXPtLZ6"} pic.twitter.com/7hAxXPtLZ6
      — danielle vass (@de_velopment)
      %a{:href => "https://twitter.com/de_velopment/status/710801326645575680"} March 18, 2016
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  %p
    The
    = link_to "talks", "http://2016.writespeakcode.com/pages/schedule"
    , of course, were inspiring. The
    = link_to "exercises", "http://2016.writespeakcode.com/pages/schedule"
    were enlightening. But
    the thing that really, profoundly hit home, was how amazing it was to talk to the other attendees.
    %i
      (Check out
      = link_to "this year's schedule", "http://2016.writespeakcode.com/pages/schedule"
      ).

  %div{:style => "display: table; margin-left: auto; margin-right: auto"}
    %blockquote.twitter-tweet{"data-cards" => "hidden", "data-lang" => "en"}
      %p{:dir => "ltr", :lang => "en"}>
        This was an amazing event last year. You should go!
        %a{:href => "https://t.co/q03oQEoigT"} https://t.co/q03oQEoigT
      — Coraline Ada Ehmke (@CoralineAda)
      %a{:href => "https://twitter.com/CoralineAda/status/707996999321329665"} March 10, 2016
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  %p
    %strong The people I spoke with understood me.
    They could relate to many of my experiences and empathized with the rest.

  %div{:style => "display: table; margin-left: auto; margin-right: auto"}
    %blockquote.twitter-tweet{"data-cards" => "hidden", "data-lang" => "en"}
      %p{:dir => "ltr", :lang => "en"}>
        %a{:href => "https://twitter.com/WriteSpeakCode"} @WriteSpeakCode
        changed my life. CFP deadline is 4/9 Thanks to
        %a{:href => "https://twitter.com/corey_latislaw"} @corey_latislaw
        for expanding my world
        %a{:href => "https://t.co/286w4lyhrM"} pic.twitter.com/286w4lyhrM
      — Angie ≅ 앤지 (@AngieHilem)
      %a{:href => "https://twitter.com/AngieHilem/status/707670895087763456"} March 9, 2016
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  %p
    A more tangible thing that I got out of those three days, though, was the
    opportunity to talk to people about my experience, and being coaxed into
    %strong reframing
    it from “utter lack of experience” (and therefore lack of
    competence, I felt at the time), to an opportunity
    %strong to demonstrate my capacity for growth.

  %div{:style => "display: table; margin-left: auto; margin-right: auto"}
    %blockquote.twitter-tweet{"data-lang" => "en"}
      %p{:dir => "ltr", :lang => "en"}>
        Apply for scholarships to
        = succeed "!" do
          %a{:href => "https://twitter.com/WriteSpeakCode"} @WriteSpeakCode
        %a{:href => "https://t.co/pFZAaHNXkw"} https://t.co/pFZAaHNXkw
        Beyond a doubt the *BEST* conf for women coders! And I'm speaking there!
      — Alex Qin (@alexqin)
      %a{:href => "https://twitter.com/alexqin/status/726125649136594946"} April 29, 2016
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  %p
    The whole point of telling you this, of course, is to convince you to
    %strong
      %a{ href: 'http://2016.writespeakcode.com/' }
        come experience the four most inspiring days you’ve ever had.

  %div{:style => "display: table; margin-left: auto; margin-right: auto"}
    %blockquote.twitter-tweet{"data-lang" => "en"}
      %p{:dir => "ltr", :lang => "en"}>
        Grab them while you can! I went to it last year, and it's by far one of the best conferences I've ever gone to.
        %a{:href => "https://t.co/RAS2PLLRxP"} https://t.co/RAS2PLLRxP
      — Melissa Xie (@mxie)
      %a{:href => "https://twitter.com/mxie/status/709787299333148677"} March 15, 2016
    %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

  %p
    There are
    = succeed "," do
      %a{:href => "http://2016.writespeakcode.com/tickets.html"} regular-price tickets
    and there are scholarships. But I hope that some of you will consider
    = succeed "." do
      = link_to 'volunteering', 'https://docs.google.com/forms/d/1obRXfww95fe7IEYez5_6mTQ_APNWJJX2E7BU5oYGEkI/viewform'

  %p
    I found it a great opportunity as a newb-to-the-industry (I now co-organize the NYC chapter of Write/Speak/Code), and it’s a great way to attend for free. Not to mention the fact that it's a good time, and you'll meet some awesome people and leave with a sense of your own competence and how to share it and help others.

  %p
    = partial :arrow_button,
      locals: { link: 'https://docs.google.com/forms/d/1obRXfww95fe7IEYez5_6mTQ_APNWJJX2E7BU5oYGEkI/viewform', text: 'Volunteer now!', classes: %w(primary) }

    %a.button.info{ href: 'http://2016.writespeakcode.com/tickets.html' }
      Buy your ticket

  %h4
    %br/
    %br/
    I’ll be there. I hope to see you there too!
    %br/
    &mdash; Jeca
    %br/
    %br/

%h2
  %a{ href: 'http://2016.writespeakcode.com' }
    Write/Speak/Code 2016 Conference for women coders

%h3
  June 15-18, 2016
%p
  Wed, Thurs, &amp; Fri 9:00am-6:30pm
  %br/
  Sat 11:00am-4:00pm

%h3
  %small The Chicago School of Professional Psychology
  %br/
  325 N Wells St, Chicago, IL 60654

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!

  %a.button.info{ href: "http://2016.writespeakcode.com/pages/schedule" }
    Schedule

%p.buy
  %br/
  %br/
  %strong Accessibility, Inclusion, &amp; Intersectionality
  %br/
  = link_to 'Free childcare', 'http://2016.writespeakcode.com/childcare.html'
  %br/
  Mothers/lactation room
  %br/
  Wheelchair accessible venue
  %br/
  CART transcription
  %br/
  = link_to 'Ramadan accomodations', 'http://www.writespeakcode.com/blog/2016/04/13/ramadan.html'
