---
title: "Annoucing the 2016 Keynote speakers!"
date: 2016-05-10
social: true
author: Rebecca Miller-Webster
tags:
  - conference
  - 2016
excerpt: We are thrilled to announce our keynote speakers for the 2016 Write/Speak/Code Conference.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }

%h3
  We are thrilled to announce the keynote speakers for the
  %a{ href: 'http://2016.writespeakcode.com' }
    2016 Conference
  !

:markdown
  First year and **new Alumna track**.  [Check out the schedule](http://2016.writespeakcode.com/pages/schedule).

%h4
  June 15-18, 2016
%p
  Wed, Thurs, & Fri 9:00am-6:30pm
  %br/
  Sat 11:00am-4:00pm


%h4
  %small The Chicago School of Professional Psychology
  %br/
  325 N Wells St, Chicago, IL 60654

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!


.person.conference-speaker
  %h2 Naomi Ceder

  = image_tag 'images/blog/naomi.jpg', class: 'round'

  %p
    Naomi Ceder has been learning, teaching, using, and talking about Python
    since 2001. She is the author of the
    <a href="http://amzn.to/1Wrr4ab">Quick Python Book, 2nd edition</a>, the
    sprints organizer for <a href="https://us.pycon.org/2016/community/sprints/">PyCon</a>,
    and the co-founder of <a href="http://trans-code.org/">Trans*Code</a>, a UK based
    hack day focussing on trans issues. Having worked as an organizer in various
    communities for almost 20 years, Naomi is a member of the board of directors
    of the <a href="https://www.python.org/psf/">Python Software Foundation</a>
    for 2015/2016. She speaks about her own
    experiences of marginalization with the hope of making the communities she
    loves more diverse and welcoming. In her spare time she enjoys knitting and
    deep philosophical conversations with her dogs.

  %ul.social
    %li
      %a{ href: 'https://twitter.com/NaomiCeder', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/nceder', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'https://www.linkedin.com/in/naomiceder', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'https://learnpython.wordpress.com/', target: '_blank' }
        %span.fa.fa-link

.person.conference-speaker
  %h2 Annyce Davis

  = image_tag 'images/blog/annyce-davis-headshot.jpg'

  :markdown
    Annyce is an Android [Google Developer Expert](https://developers.google.com/experts/people/annyce-davis).
    She has been in the tech industry for over a decade and has spent the
    past 5 years developing [applications](https://play.google.com/store/apps/details?id=com.wapo.posttv)
    for the Android ecosystem across multiple form factors. She is also a
    [international conference speaker and author](http://goo.gl/xuIOvv),
    sharing her knowledge of Android development with others. In addition,
    Annyce is active in the Washington, DC tech scene and assists with
    running a [local meetup](http://www.meetup.com/DCAndroid/) focused on
    Android development and design.

  %ul.social
    %li
      %a{ href: 'http://twitter.com/brwngrldev', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/adavis', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'https://www.linkedin.com/in/annycedavis', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'http://www.adavis.info', target: '_blank' }
        %span.fa.fa-link

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!

.person.conference-speaker
  %h2 Julianna Rusakiewicz

  = image_tag 'images/blog/julianna-rusakiewicz-headshot.jpg', class: 'round'

  %p
    Actor turned designer turned developer, I am a bootcamp graduate trying to
    make my way in an ever-changing and growing field. I grew up in New England
    and became an adult in New York City, so I yearn for the city and the woods.
    I primarily develop in Ruby on Rails and AngualrJS, though I am often asked
    to update Wordpress sites. After 15 years in the Theater scene, I accepted
    a position at a creative agency in Midtown Manhattan. I am constantly
    learning and trying new things!

  %ul.social
    %li
      %a{ href: 'http://twitter.com/juliannarusak', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/julrusak', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'http://linkedin.com/in/juliannarusak', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'http://juliannarusak.com', target: '_blank' }
        %span.fa.fa-link

.person.conference-speaker
  %h2 Alex Qin

  = image_tag 'images/blog/alex-qin-headshot.jpg'

  %p
    Alex Qin is a Brooklyn based engineer and educator. She spends a lot of
    time thinking about how to make programming accessible to all. During work
    hours, she writes code at <a href="http://skillshare.com">Skillshare</a>. In her spare
    time, she enjoys teaching children and adults to code with
    <a href="http://scripted.org">ScriptEd</a>,
    <a href="http://womenwhocode.com" Women Who Code, and
    <a href="http://technovationchallenge.org">Technovation</a>, and giving
    talks about code, community, and accessibility. She also loves food, and
    spent part of last summer building a
    <a href="http://northbrooklynfarms.com">vegetable farm in Brooklyn</a>
    where the Domino Sugar Factory used to be.

  %ul.social
    %li
      %a{ href: 'http://twitter.com/alexqin', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/noidontdig', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'http://linkedin.com/in/alexandraqin', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'http://alexq.in', target: '_blank' }
        %span.fa.fa-link

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!

.person.conference-speaker
  %h2 Fureigh

  = image_tag 'images/blog/fureigh-headshot.jpg', class: 'round'

  :markdown
    Fureigh is an Oakland-based software architect who believes technology
    should be kind to humans and so should the state. After their [2014 Code for
    America fellowship](https://www.codeforamerica.org/about-us/the-team/alumni-fellows)
    reducing repeat 911 calls in Long Beach, Calif., they
    joined [18F](https://18f.gsa.gov/), a digital strategy team transforming the federal government
    from the inside out. Fureigh started New York City's [Drupal Ladder](http://drupalladder.org/)
    skill-building meetups, has taught United Nations employees how to use
    Git, and has spoken at conferences ranging from [Open Source Bridge](http://opensourcebridge.org/) to
    [Creating Change](https://www.creatingchange.org/).

  %ul.social
    %li
      %a{ href: 'http://twitter.com/fureigh', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/fureigh', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'http://linkedin.com/in/fureigh', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'http://fureigh.com', target: '_blank' }
        %span.fa.fa-link

.person.conference-speaker
  %h2 Coraline Ada Ehmke

  = image_tag 'images/blog/coraline.png'

  %p
    Coraline Ada Ehmke is a speaker, writer, teacher, open source advocate and
    technologist with 20 years of experience in developing apps for the web. As
    a founding member of <a href="os4w.org">Open Source 4 Women</a> and
    <a href="contributor-covenant.org">Contributor Covenant</a>, she works
    diligently to promote diversity and inclusivity in open source. Her current
    interests include refactoring, code analytics and artificial intelligence.

  %ul.social
    %li
      %a{ href: 'https://twitter.com/CoralineAda', target: '_blank' }
        %span.fa.fa-twitter
    %li
      %a{ href: 'https://github.com/CoralineAda/', target: '_blank' }
        %span.fa.fa-github
    %li
      %a{ href: 'https://www.linkedin.com/in/coralineehmke', target: '_blank' }
        %span.fa.fa-linkedin
    %li
      %a{ href: 'http://where.coraline.codes/', target: '_blank' }
        %span.fa.fa-link

%h2
  %a{ href: 'http://2016.writespeakcode.com' }
    Write/Speak/Code 2016 Conference for women coders

%h3
  June 15-18, 2016
%p
  Wed, Thurs, &amp; Fri 9:00am-6:30pm
  %br/
  Sat 11:00am-4:00pm

%h3
  %small The Chicago School of Professional Psychology
  %br/
  325 N Wells St, Chicago, IL 60654

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!

  %a.button.info{ href: "http://2016.writespeakcode.com/pages/schedule" }
    Schedule

%p.buy
  %br/
  %br/
  %strong Accessibility, Inclusion, &amp; Intersectionality
  %br/
  = link_to 'Free childcare', 'http://2016.writespeakcode.com/childcare.html'
  %br/
  Mothers/lactation room
  %br/
  Wheelchair accessible venue
  %br/
  CART transcription
  %br/
  = link_to 'Ramadan accomodations', 'http://www.writespeakcode.com/blog/2016/04/13/ramadan.html'
