- sort_include_type ||= false
- sort_include_weight ||= false
- reverse ||= false
- show_talk = !!show_talk

- sorts =  { by_type: sort_include_type, by_weight: sort_include_weight, reverse: reverse }
- talk_list = data.schedule.select { |k,v| [:thursday, :friday, :saturday].include?(k.to_sym) }.values.flatten.select { |v| v.has_key?('talk_id') }

%ul.people_list
  - people_filtered_and_sorted(data, filter, sorts).each do |slug, info|
    - talks_info = talks_for_speaker(talk_list, slug, info)
    - has_talk = show_talk && !talks_info.empty?
    - talk_class = has_talk ? 'talk' : ''

    %li{ class: "#{info.type} #{talk_class}"  }
      %a{ id: slug }

      - if info.image || info.social || info.url
        .info
          - if info.image
            %a.image{ href: info.url, target: '_blank' }
              = image_tag info.image, alt: info.name

          %ul.social
            - (info.social || []).each do |type, url|
              %li
                %a{ href: url, target: '_blank' }
                  %span.fa{ class: "fa-#{type}" }

            - if info.url
              %li
                %a{ href: info.url, target: '_blank' }
                  %span.fa.fa-link

      - bio_name_class = show_talk ? '' : 'name'
      - if show_talk
        .talk
          %span.name= info.name
          - if has_talk
            %ul
              - talks_info.each do |talk|
                %li
                  %i.fa.fa-star-o
                  = link_to talk.try(:[],'talk_name'), "/conference/schedule##{talk.talk_id}"
      - if info.bio
        %p.bio
          = link_or_text(info.name, info.url, bio_name_class)
          = info.bio
