---
title: About Write/Speak/Code
page_class: 'about'
---

%h1 About Write/Speak/Code

%h2 Today

%p
  Write/Speak/Code is on a mission to empower women software developers
  to become thought leaders, conference speakers, and open source contributors
  We run
  = succeed ',' do
    = link_to 'conferences', '/conference'
  = succeed ',' do
    = link_to 'meetups', '/meetups'
  and
  = link_to 'events', '/events'
  across the US.


%h2 The Beginning
%p
  %strong Write/Speak/Code
  came about after a late night email 
  = link_to 'Rebecca', '/about/organizers#rebecca'
  sent to
  = succeed ',' do
    = link_to 'Chrys', '/about/organizers#chrys'
  = succeed ',' do
    = link_to 'Rachel', '/about/organizers#rachel'
  and
  = link_to 'Vanessa', '/about/organizers#vanessa'
  among others.

  Rebecca was inspired by taking the core seminar from
  = link_to 'The Op-Ed Project', 'http://www.theopedproject.org'
  and seeing 
  = link_to 'Zach Holman', 'http://zachholman.com/'
  give his talk
  = succeed '.' do
    = link_to 'Open Source Misfeasance', 'http://zachholman.com/talk/open-source-misfeasance/'
%p
  While there are many systemic reasons for women's lack of participation in 
  writing and speaking about code and contributing to open source, we felt we could attack
  the personal reasons women had for not writing, speaking, and coding &mdash;
  %i 
    I'm not an expert, What would I talk about?, Everyone already knows about that
  &mdash;
  and change the world!
