---
title: About Write/Speak/Code
page_class: 'about'
---

%h1 About Write/Speak/Code

%h2 Today

%p
  Write/Speak/Code is on a mission to empower women software developers
  to become thought leaders, conference speakers, and open source contributors
  We run
  = succeed ',' do
    = link_to 'conferences', '/conference'
  = succeed ',' do
    = link_to 'meetups', '/meetups'
  and
  = link_to 'events', '/events'
  across the US.

%p
  Write/Speak/Code incorporated as a non-profit in 2016 and is working to get 501(c)3
  tax exempt status. Additionally, we formed a Board of Directors to oversee the organization and its mission.

%h3 2016-2017 Board Members:

%ul
  %li
    = link_to 'Rebecca Miller-Webster', 'https://twitter.com/rmillerwebster'
  %li
    = link_to 'Celia La', 'https://twitter.com/celiala'
  %li
    = link_to 'Dalal Al Rayes', 'https://twitter.com/dalrayes'
  %li
    = link_to 'LaTeesha Thomas', 'https://twitter.com/lateeshathomas'
  %li
    = link_to 'Lisa van Gelder', 'https://twitter.com/lisa_van_gelder'
  %li
    = link_to 'Neha Batra', 'https://twitter.com/nerdneha'
  %li
    = link_to 'Rachel Ober', 'https://twitter.com/rachelober'

%p
  The board works with
  = link_to "chapter leaders", "/chapters"
  to encourage and empower the Write/Speak/Code community.


%h2 The Beginning
%p
  %strong Write/Speak/Code
  came about after a late night email
  = link_to 'Rebecca Miller-Webster', 'https://twitter.com/rmillerwebster'
  sent to
  = succeed ',' do
    = link_to 'Chrys Wu', 'https://twitter.com/MacDiva'
  = succeed ',' do
    = link_to 'Rachel Ober', 'https://twitter.com/rachelober'
  and
  = link_to 'Vanessa Hurst', 'https://twitter.com/DBNess'
  among others.

  Rebecca was inspired by taking the core seminar from
  = link_to 'The Op-Ed Project', 'http://www.theopedproject.org'
  and seeing
  = link_to 'Zach Holman', 'http://zachholman.com/'
  give his talk
  = succeed '.' do
    = link_to 'Open Source Misfeasance', 'http://zachholman.com/talk/open-source-misfeasance/'
%p
  While there are many systemic reasons for women's lack of participation in
  writing and speaking about code and contributing to open source, we felt we could attack
  the personal reasons women had for not writing, speaking, and coding &mdash;
  %i
    I'm not an expert, What would I talk about?, Everyone already knows about that
  &mdash;
  and change the world!

%p
  The first Write/Speak/Code conference in 2013 was made possible by the hard
  work and care of:
  %ul
    %li
      = link_to 'Vanessa Hurst', 'https://twitter.com/DBNess'
    %li
      = link_to 'Rebecca Miller-Webster', 'https://twitter.com/rmillerwebster'
    %li
      = link_to 'Rachel Ober', 'https://twitter.com/rachelober'
    %li
      = link_to 'Chrys Wu', 'https://twitter.com/MacDiva'
    %li
      = link_to 'Celia La', 'https://twitter.com/celiala'

